.wrapper-pane-split-component {
    display: flex;
    width: 100%;
}

.wrapper-pane-split-component > div {
    width: 50%;
}

.wrapper-pane-split-component > button {
    z-index: 999;
    width: 2px;
    cursor: e-resize;
    background-color: var(--grey-300);
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.wrapper-pane-split-component > button:active {
    background-color: var(--green-400);
    box-shadow: 0 0 0 0.08rem var(--green-400);
}